* {
  font-family: sans-serif;
  /*border: 1px solid #000;*/
}

/* Box */
.magic-box {
  position: relative;
  background: lightgray;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.magic-content {
  padding: 20px 40px;
}
.magic-box a {
  color: white;
  text-decoration: none;
}

/* Images */
.magic-box .magic-background-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
}
.magic-box:hover .magic-background-image {
  transform: scale(1.15);
}

/* Text */
.magic-box .magic-header {
  top: 15px;
  position: absolute;
  transition: margin-top 0.5s, margin-bottom 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
}
.magic-box:hover .magic-header {
  margin-top: 12px;
}
.magic-box .magic-info {
  transition: margin-top 0.5s, margin-bottom 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
}
.magic-box:hover .magic-info {
  margin-bottom: 8px;
}

/* Positioning */
.magic-bottom {
  position: absolute;
	bottom: 0px;
  padding-bottom: inherit;
}
.magic-box .magic-right {
  text-align: right;
  float: right;
  right: 0;
  padding-right: inherit;
}
.magic-box .magic-left {
  text-align: left;
  float: left;
}
.magic-half {
  width: 50%;
}

/* Link */
.magic-box a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}


/* Test box, testing differences */
.test-box-1 {
  color: white;
  width: 50%;
  height: 300px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  /* Positioning */
  left: 50%;
  transform: translateX(-50%);
}
.test-box-2 {
  width: 40%;
  height: 300px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: darkorange;
  /* Positioning */
  left: 50%;
  transform: translateX(-50%);
}
