/* Box */
.magic-box {
  position: relative;
  background: lightgray;
  height: 400px;
  overflow: hidden;
}
.magic-content {
  padding: 20px 40px;
}

/* Images */
.magic-box .magic-background-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
}
.magic-box:hover .magic-background-image {
  transform: scale(1.15);
}
.magic-box:hover .magic-darken {
  filter: brightness(.9);
}

/* Text */
.magic-box .magic-header {
  top: 20px;
  position: absolute;
  transition: margin-top 0.5s, margin-bottom 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
}
.magic-box:hover .magic-header {
  margin-top: -1%;
}
.magic-box .magic-info {
  transition: margin-top 0.5s, margin-bottom 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
  position: absolute;
	bottom: 0px;
  padding-bottom: inherit;
}
.magic-box:hover .magic-info {
  margin-bottom: 8px;
}

/* Positioning */
.magic-box .magic-right {
  text-align: right;
  float: right;
  right: 0px;
  padding-right: inherit;
}
.magic-box .magic-left {
  text-align: left;
  float: left;
}
.magic-half {
  width: 50%;
}

/* Link */
.magic-box a {
  display: block;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
